$primary-color: #070404;
$second-color: #131414;
$third-color: #343746;
$forth-color: #a7a8ad;
$fifth-color: #5f658d;
$sixth-color: #f1ede9;
$seventh-color: #a25d60;
$theme-color: #dd0510;
$text-color: #fff;

@mixin Container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

// Media Query Mixin
@mixin mediaSM {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and(max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
