$primary-color: #000;
$second-color: #141414;
$third-color: #343746;
$forth-color: #a7a8ad;
$fifth-color: #5f658d;
$sixth-color: #999;
$seventh-color: #a25d60;
$theme-color: #dd0510;
$text-color: #fff;

@mixin Container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Text Style */
.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: $sixth-color;
}

/* Button */
.btn {
  display: inline-block;
  background: $theme-color;
  color: $text-color;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 0.5rem; // If button next to each
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.btn {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 5rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 3rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

// Media Query Mixin
@mixin mediaSM {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and(max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
