@include mediaMd {
  .menu-btn {
    display: block;
  }

  header {
    .menu-main-menu-container {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $sixth-color;
      width: 50%;
      height: 100%;
      border-right: 1px solid $third-color;
      opacity: 0.9;
      margin-left: 0;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
      z-index: 5;

      .main-menu {
        display: block;
      }

      .main-menu li {
        padding: 1rem 0 0.7rem;
        font-size: 14px;
        border-bottom: 1px dotted $second-color;
      }

      .main-menu li:last-child {
        border-bottom: 0;
      }

      .main-menu li a {
        color: $primary-color;
        padding: 0;
      }

      .main-menu li a:hover {
        color: $third-color;
        border-bottom: 0;
      }
    }

    .menu-main-menu-container.show {
      transform: translateX(0px);
    }

    .right-menu {
      margin-right: 2rem;
    }
  }
}

@include mediaSM {
  header {
    padding: 1rem;

    .menu-main-menu-container {
      width: 70%;
    }

    .right-menu {
      display: none !important;
    }
  }
}
